*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;

}

.colum2-1{
    width: 75px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
    color: #000000;
}

.colum2-2{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
}
.colum2-3{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
}
.colum2-4{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
}
.colum2-5{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
}
.colum2-6{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
}
.colum2-7{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
}
.colum2-8{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
}
.colum2-9{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
}
.colum2-10{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
}
.colum2-11{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
}
.colum2-12{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
}
.colum2-13{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;
}
.colum2-14{
    width: 60px;
    height: 45px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: transparent;
    margin: -3px;
    font-size: 13px;  
}

@media (max-width : 465px){
    .colum2-1{
       width: 40px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }
    .colum2-2{
       width: 20px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }.colum2-3{
       width: 20px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }.colum2-4{
       width: 20px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }.colum2-5{
       width: 20px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }.colum2-6{
       width: 20px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }.colum2-7{
       width: 20px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }.colum2-8{
       width: 20px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }.colum2-9{
       width: 20px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }.colum2-10{
       width: 20px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }.colum2-11{
       width: 20px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }.colum2-12{
       width: 20px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }
    .colum2-13{
       width: 20px;
       height: 20px;
       font-size: 6px;
       margin: -3px;
    }
    .colum2-14{
        width: 30px;
        height: 20px;
    }
}
   
   
   
   

