*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.background-home{
    background-color: #121212;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.menu-bar-home{
    align-items: center;
    display: flex;
    justify-content: space-between;
           /*Y     X*/
    padding: 0px 15px;
    background-color: rgb(10, 10, 10);
    position: sticky;
}

.menu-bar-home ul li a{
    text-decoration: none;
    color: #fff;
}

.hover-menu-bar{
    padding: 5px 15px;
    display: inline-block;
    border-radius: 15px 5px;
}

.background-button-home{
    width: 70px;
    height: 25px;
    border: 1px solid #ff003c;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.background-button-home::before{
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 15px;
    position: absolute;
    background-color: #ff003c;
    margin-left: -50px;
    z-index: -1;
    visibility: hidden;
}

.background-button-home:hover::before{
    width: 71px;
    margin-left: 0px;
    transition: 0.5s;
    visibility: visible;
}

.hover-color{
    color: #fff;
}
.hover-color:hover{
    color: rgb(134, 134, 134);
}

.red-box{
    position: absolute;
    width: 15px;
    height: 50px;
    margin-left: -15px;
    background-color: #ff003c;
}

/*section page 1*/
.section-page1{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
}

.button-try-to-type{
    width: 120px;
    height: 40px;
    font-size: 15px;
    border: 1px solid #ff003c;
    background: #ff003c;
    color: #fff;
    margin: 10px;
    border-radius: 20px;
}
.button-more{
    width: 120px;
    height: 40px;
    font-size: 15px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    margin: 10px;
    border-radius: 20px;
}

.button-try-to-type:hover{
    background-color: #fff;
    color: black;
    border: none;
    transition: 0.3s;
}

.button-more:hover{
    background-color: #fff;
    color: black;
    border: none;
    transition: 0.3s;
}